@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

/* ページ全体のスタイル
------------------------------------------ */
html {
  font-size: 62.5%;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 1vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: calc(10 / 375 * 100vw);
  }
}

body {
  font-size: 1.6rem;
  color: #454545;
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

* {
  line-height: 1.2;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: #454545;
  text-decoration: none;
}

a:hover {
  filter: brightness(110%);
}

li {
  list-style: none;
}

.container {
  padding: 0 1.6rem;
  /* overflow: hidden; */
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 .3rem;
  }
}

.contents_width {
  width: 100%;
  max-width: 116rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.no-pc {
  display: none;
}

@media screen and (max-width: 767px) {
  .no-sp {
    display: none;
  }

  .no-pc {
    display: inline;
  }

  .sp-block {
    display: block;
  }
}

header .wrapper span,
.interest p {
  font-weight: 900;
  background: linear-gradient(transparent calc(100% - 20px), #f940bc calc(100% - 20px));
  text-shadow: 3px 0 #fff;
}

@media screen and (max-width: 767px) {

  header .wrapper span,
  .interest p {
    background: linear-gradient(transparent calc(100% - 10px), #f940bc calc(100% - 10px));
  }
}

.point h2,
.about h2,
.reason h2,
.qa h2 {
  color: #3fbcfa;
  font-weight: 900;
  background: #fff;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
  max-width: 94.8rem;
  margin: 0 auto;
  padding: 3.8rem;
  border-radius: 2rem;
}

@media screen and (max-width: 767px) {

  .point h2,
  .about h2,
  .reason h2,
  .qa h2 {
    font-size: 1.8rem;
    line-height: calc(22 / 18);
    padding: .6rem;
    max-width: 34.8rem;
    border-radius: .5rem;
  }
}

.point h2 span,
.about h2 span,
.reason h2 span,
.qa h2 span {
  line-height: 1;
}

/* ヘッダー
------------------------------------------ */
header {
  background-image: url(../images/header/main_pc.jpg);
  background-position: left center;
  background-size: cover;
  height: 68.4rem;
}

@media screen and (max-width: 767px) {
  header {
    background-image: url(../images/header/main_sp.jpg);
    background-position: center top;
    height: 41.7rem;
  }
}

header .contents_width {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  header .contents_width {
    max-width: 60rem;
  }
}

header .wrapper {
  max-width: 55.5rem;
}

@media screen and (max-width: 767px) {
  header .wrapper {
    max-width: 23.4rem;
  }
}

header .wrapper h1 {
  font-size: 0;
}

header .wrapper span {
  display: inline-block;
  font-size: 4.5rem;
  line-height: calc(4.5rem + 1.6rem * 2);
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  header .wrapper span {
    font-size: 1.9rem;
    line-height: calc(1.9rem + .5rem * 2);
  }
}

header .wrapper span+span {
  margin: .8rem 0 0;
}

@media screen and (max-width: 767px) {
  header .wrapper span+span {
    margin: 0;
  }
}

header .wrapper img {
  display: block;
  margin: 4.8rem auto 2.4rem;
  max-width: 45rem;
  width: 100%;
}

@media screen and (max-width: 767px) {
  header .wrapper img {
    max-width: 21.8rem;
    margin: 3.6rem auto;
  }
}
/* 予約
------------------------------------------ */

.contact {
  background-color: #3fbcfa;
  padding-top: 4.4rem;
  padding-bottom: 4.5rem;
}

.contact.conversion01 {
  padding-top: 4.2rem;
  padding-bottom: 4.3rem;
}

.contact.conversion02 {
  padding-top: 4.2rem;
  padding-bottom: 4.4rem;
}

.contact.conversion03 {
  padding-top: 4.2rem;
  padding-bottom: 4.4rem;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 1.9rem 0 2rem;
  }

  .contact.conversion01 {
    padding: 2rem 1rem;
  }

  .contact.conversion02 {
    padding: 2rem 1rem 2.1rem;
  }

  .contact.conversion03 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.contact .contents_width {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.8rem;
}

.contact.conversion01 .contents_width {
  gap: 6.5rem;
}

.contact.conversion02 .contents_width {
  gap: 12.8rem;
}

.contact.conversion03 .contents_width {
  gap: 4.8rem;
}

@media screen and (max-width: 767px) {
  .contact .contents_width {
    flex-direction: column;
    gap: 1.2rem;
  }

  .contact.conversion01 .contents_width {
    gap: 1.5rem;
  }

  .contact.conversion02 .contents_width {
    gap: 1rem;
  }

  .contact.conversion03 .contents_width {
    gap: 1.5rem;
  }
}

.contact h3 {
  font-size: 3.8rem;
  text-align: center;
  color: #fff;
  text-shadow: 1rem 0 0.4rem rgba(0, 0, 0, 0.16);
}

.contact.conversion01 h3,
.contact.conversion02 h3,
.contact.conversion03 h3 {
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .contact h3 {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    text-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.16);
    letter-spacing: .005em;
  }

  .contact.conversion01 h3 {
    line-height: 1.75;
    padding-left: 1rem;
  }

  .contact.conversion02 h3 {
    line-height: 1.8;
  }

  .contact.conversion03 h3 {
    line-height: 1.7;
    padding-left: .85rem;
  }
}

.contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdfa3e;
  width: 28.4rem;
  height: 11rem;
  border-radius: 5.5rem;
  font-size: 3.8rem;
  font-weight: 900;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.16);
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact a {
    font-size: 1.5rem;
    height: 4.1rem;
    width: 13.4rem;
    border-radius: 2rem;
  }
}

.contact .hoverflash::before {
  content: '';
  display: block;
  width: 5rem;
  height: 300%;
  top: 50%;
  position: absolute;
  background-color: #fff;
  transform: translate(-500%, -50%) rotate(-45deg);
  transition: transform 0.5s ease;
}

.contact .hoverflash:hover::before {
  transform: translate(500%, -50%) rotate(-45deg);
}

/* 予約
------------------------------------------ */

.interest .contents_width {
  padding: 7rem 0 6rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .interest .contents_width {
    padding: 6.5rem 0 4.4rem;
    text-align: center;
    max-width: 37.5rem;
    margin: 0 auto;
  }
}

.interest h3 {
  font-size: 3.1rem;
  line-height: 3.1rem;
}

@media screen and (max-width: 767px) {
  .interest h3 {
    font-size: 1.4rem;
    line-height: calc(1.6 / 1.4);
    max-width: 28.9rem;
    margin: 0 auto;
    text-align: left;
  }
}

.interest ul {
  margin: 5rem 0 2.65rem;
  width: 66%;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .interest ul {
    margin: 6.1rem auto 0;
    width: 78%;
  }
}

.interest ul li {
  display: block;
  box-sizing: border-box;
  font-size: 3rem;
  line-height: calc(40 / 30);
  font-weight: 900;
  border: 0.7rem solid #707070;
  border-radius: 5rem;
  background-color: #fff;
  padding: 2.7rem;
  margin: 2.5rem 0 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .interest ul li {
    font-size: 1.4rem;
    line-height: 1;
    border: 0.2rem solid #707070;
    border-radius: 2.4rem;
    padding: 1.5rem;
    margin: 1.5rem auto 0;
  }
}

.interest p {
  display: inline-block;
  font-size: 3.7rem;
  line-height: calc(3.7rem + 1.6rem * 2);
  position: relative;
  z-index: 10;
  padding-right: 2.75rem;
}

@media screen and (max-width: 767px) {
  .interest p {
    margin: 3.6rem 0 0;
    font-size: 1.5rem;
    letter-spacing: -.03em;
    line-height: 2;
    padding-right: 0;
  }
}

.interest img {
  position: absolute;
  bottom: 0;
  right: -19.85%;
  width: 61.65%;
}

@media screen and (max-width: 767px) {
  .interest img {
    bottom: auto;
    top: -1em;
    right: -10.85%;
    width: 59.65%;
  }
}

.bg_stripe {
  background: repeating-linear-gradient(45deg, #fff, #fff 15px, #f5f5f5 0, #f5f5f5 30px);
}

@media screen and (max-width: 767px) {
  .bg_stripe {
    background: repeating-linear-gradient(45deg, #fff, #fff 5px, #f5f5f5 0, #f5f5f5 10px);
  }
}

.point {
  padding-top: 6rem;
  padding-bottom: 9rem;
  background: #3fbcfa;
}

@media screen and (max-width: 767px) {
  .point {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
}

.point ul {
  color: #fff;
  max-width: 85.6rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .point ul {
    padding: 0 1.8rem;
  }
}

.point ul li {
  align-items: center;
}

.point ul li:nth-child(1) {
  margin-top: 5.95rem;
}

.point ul li:nth-child(2) {
  margin-top: 6.1rem;
}

.point ul li:nth-child(3) {
  margin-top: 6rem;
}

@media screen and (max-width: 767px) {
  .point ul li {
    margin: 3.2rem 0 0;
    flex-direction: column;
    align-items: center;
  }

  .point ul li:nth-child(1) {
    margin-top: 3.15rem
  }

  .point ul li:nth-child(2) {
    margin-top: 2.75rem;
  }

  .point ul li:nth-child(3) {
    margin-top: 2.5rem;
  }

}

.point ul li span {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  font-size: 7rem;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.1em;
  width: 13.6rem;
}

@media screen and (max-width: 767px) {
  .point ul li span {
    font-size: 4rem;
    width: 8.1rem;
    justify-content: center;
    border-bottom: #fff 1px solid;
    letter-spacing: initial;
  }
}

.point ul li span+div {
  width: calc(100% - 13.6rem);
  border-left: .7rem solid #fff;
}

.point ul li:nth-child(1) span+div {
  padding: 2.3rem 0 .8rem 2.7rem;
}

.point ul li:nth-child(2) span+div {
  padding: 1.5rem 0 1.2rem 2.7rem;
}

.point ul li:nth-child(3) span+div {
  padding: 1.85rem 0 1rem 2.7rem;
}

@media screen and (max-width: 767px) {
  .point ul li span+div {
    width: 100%;
    border: none;
  }

  .point ul li:nth-child(1) span+div {
    padding: 2.2rem 0 .8rem 0;
  }

  .point ul li:nth-child(2) span+div {
    padding: 2rem 0 1.2rem 0;
  }

  .point ul li:nth-child(3) span+div {
    padding: 1.85rem 0 1rem 0;
  }
}

.point ul li span+div h3 {
  font-size: 3rem;
  line-height: calc(36 / 30);
  font-weight: 900;
}

.point ul li:nth-child(2) span+div h3 {
  letter-spacing: .035em;
}

@media screen and (max-width: 767px) {
  .point ul li span+div h3 {
    font-size: 1.5rem;
    line-height: calc(24 / 15);
    text-align: center;
  }

  .point ul li:nth-child(2) span+div h3 {
    letter-spacing: initial;
  }
}

.point ul li span+div p {
  font-size: 1.8rem;
  margin: 1.8rem 0 0;
  line-height: calc(27 / 18);
  font-weight: 500;
}

.point ul li:nth-child(2) span+div p {
  margin: 2.25rem 0 0;
  letter-spacing: -.0275rem;
}

.point ul li:nth-child(3) span+div p {
  margin: 2.25rem 0 0;
}

@media screen and (max-width: 767px) {
  .point ul li span+div p {
    margin: 1rem 0 0;
    font-size: 1.4rem;
    line-height: calc(16 / 14);
  }

  .point ul li:nth-child(2) span+div p {
    margin: 1rem 1rem 0 0;
    letter-spacing: 0.01rem;
  }

  .point ul li:nth-child(3) span+div p {
    margin: 1.15rem 0 0;
  }
}

.about {
  padding-top: 6rem;
  padding-bottom: 8.7rem;
}

@media screen and (max-width: 767px) {
  .about {
    padding-top: 2.5rem;
    padding-bottom: 2.2rem;
  }
}

.about h2 {
  background: #f940bc;
  color: #fff;
}

.about ul {
  margin: 6rem 0 0;
}

@media screen and (max-width: 767px) {
  .about ul {
    margin: 0 2.4rem;
  }
}

.about ul li {
  background: #fff;
  margin: 3rem 0 0;
}

.about ul li:nth-child(1) {
  padding: 7.75rem 6.7rem 7.5rem 3.4rem;
}

.about ul li:nth-child(2) {
  padding: 7.6rem 6.7rem 7.7rem 3.4rem;
}

.about ul li:nth-child(3) {
  padding: 7.45rem 6.7rem 7.7rem 3.4rem;
}

@media screen and (max-width: 767px) {
  .about ul li {
    flex-direction: column;
    margin: 1.5rem 0 2.5rem;
  }

  .about ul li:nth-child(1),
  .about ul li:nth-child(2),
  .about ul li:nth-child(3) {
    padding: 1rem 1.5rem 1.2rem;
  }
}

.about ul figure {
  width: 40%;
  flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .about ul li figure {
    margin: 0 auto;
  }

  .about ul li:nth-child(1) figure {
    width: 71.6%;
  }

  .about ul li:nth-child(2) figure {
    width: 69.6%;
  }

  .about ul li:nth-child(3) figure {
    width: 70.6%;
  }
}

.about ul figure img {
  width: 100%;
}

.about ul dl {
  width: 60%;
}

.about ul li:nth-child(1) dl {
  padding: 4.15rem 0 0 4.25rem;
}

.about ul li:nth-child(2) dl {
  padding: 4.3rem 0 0 4.25rem;
}

.about ul li:nth-child(3) dl {
  padding: 4.4rem 0 0 4.25rem;
}

@media screen and (max-width: 767px) {
  .about ul dl {
    width: 100%;
    padding: 0;
  }

  .about ul li:nth-child(1) dl,
  .about ul li:nth-child(2) dl,
  .about ul li:nth-child(3) dl {
    padding: 0;
  }
}

.about ul dl dt,
.about ul dl dd {
  font-size: 3rem;
  display: flex;
  align-items: center;
  font-weight: 900;
}

@media screen and (max-width: 767px) {

  .about ul dl dt,
  .about ul dl dd {
    margin: 1rem 0 0;
    font-size: 1.5rem;
    line-height: calc(17 / 15);
  }
}

.about ul dl dt::before,
.about ul dl dd::before {
  content: "Q";
  font-family: "Poppins";
  font-weight: 800;
  font-size: 6rem;
  line-height: 1;
  margin-right: 3.75rem;
}

@media screen and (max-width: 767px) {

  .about ul dl dt::before,
  .about ul dl dd::before {
    font-size: 1.8rem;
    letter-spacing: .1em;
    margin-right: 1.3rem;
  }
}

.about ul dl dd {
  color: #f940bc;
  font-size: 1.8rem;
  line-height: calc(27 / 18);
  font-weight: 500;
  padding-top: .5rem;
  margin: 6.9rem 0 0;
}

@media screen and (max-width: 767px) {
  .about ul dl dd {
    margin: 1.5rem 0 0;
    line-height: calc(16 / 14);
    font-size: 1.4rem;
    padding-top: 0;
  }
}

.about ul dl dd::before {
  content: "A";
  color: #f940bc;
}

.bg_dot {
  background-image: radial-gradient(#f5f5f5 20%, transparent 20%), radial-gradient(#f5f5f5 20%, transparent 20%);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  background-repeat: repeat;
}

@media screen and (max-width: 767px) {
  .bg_dot {
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
  }
}

.reason {
  padding-top: 6rem;
  padding-bottom: 9rem;
}

@media screen and (max-width: 767px) {
  .reason {
    padding: 2.5rem 0 4.8rem;
  }
}

.reason h2 {
  background: #f940bc;
  color: #fff;
}

.reason .border_box {
  margin: 6rem 0 0;
  padding: 7.3rem 4.1rem 6.75rem;
  border: #6e6e6e .7rem solid;
  border-radius: 1.5rem;
  background: #fff;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.16);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .reason .border_box {
    margin: 1.5rem 1.9rem 0;
    border: #6e6e6e 1px solid;
    border-radius: .5rem;
    box-shadow: none;
    padding: 2.5rem 2.4rem 1.25rem;
  }
}

.reason h3 {
  font-size: 3rem;
  line-height: 1;
  border-bottom: #f940bc 10px solid;
  padding: 0 0 1.6rem;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .reason h3 {
    font-size: 1.6rem;
    padding: 0 0 .9rem;
    line-height: calc(20 / 16);
    border-bottom: #f940bc 1px solid;
  }
}

.reason ul {
  margin: 6.3rem 0 0;
}

@media screen and (max-width: 767px) {
  .reason ul {
    margin: 1.5rem 0 0;
  }
}

.reason ul li {
  margin: 10rem 0 0;
  gap: 3rem;
  text-align: left;
}

.reason ul li:nth-child(1) {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .reason ul li {
    flex-direction: column;
    gap: 0;
  }

  .reason ul li:nth-child(1) {
    margin: 0 0 1.65rem;
  }

  .reason ul li:nth-child(2) {
    margin: 0 0 1.35rem;
  }

  .reason ul li:nth-child(3) {
    margin: 0;
  }
}

.reason ul li:nth-child(2n) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .reason ul li:nth-child(2n) {
    flex-direction: column;
  }
}

.reason ul li figure {
  margin: 0;
  width: 39.6%;
}

@media screen and (max-width: 767px) {
  .reason ul li figure {
    width: 70.5%;
    margin: 0 auto 1.7rem;
  }
}

.reason ul li figure img {
  max-width: 100%;
  display: block;
}

.reason ul li .text {
  width: 57.5%;
  padding: 5.65rem 1rem 0 0;
}

.reason ul li:nth-child(2) .text {
  padding: 7rem 1rem 0 0;
}

@media screen and (max-width: 767px) {
  .reason ul li .text {
    width: 100%;
    padding: 0;
  }

  .reason ul li:nth-child(2) .text {
    padding: 0;
  }
}

.reason ul li .text p {
  margin-bottom: 2.25rem;
  font-size: 1.8rem;
  line-height: calc(27 / 18);
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .reason ul li .text p {
    margin: 0 0 1.1rem;
    font-size: 1.4rem;
    line-height: calc(16 / 14);
  }
}

.reason ul li .text p b {
  font-size: 600;
}
/*---質問事項
-------------------------------*/
.qa {
  padding-top: 5.25rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 767px) {
  .qa {
    padding-top: 2.5rem;
    padding-bottom: 3.8rem;
  }
}

.qa h2 {
  color: #fff;
  background: #3fbcfa;
  max-width: 45.6rem;
  margin-bottom: 6.65rem;
}

@media screen and (max-width: 767px) {
  .qa h2 {
    max-width: 17.9rem;
    line-height: 3.4rem;
    margin-bottom: 1.5rem;
  }
}

.qa dl {
  background: #fff;
  margin-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .qa dl {
    margin: 0 1.95rem 1rem;
  }

  .qa dl:nth-child(3) {
    margin: 0 1.95rem 1.35rem;
  }

  .qa dl:nth-child(4) {
    margin: 0 1.95rem 1rem;
  }

  .qa dl:nth-child(5) {
    margin: 0 1.95rem .85rem;
  }

  .qa dl:nth-child(6) {
    margin: 0 1.95rem .7rem;
  }

  .qa dl:nth-child(8) {
    margin: 0 1.95rem .8rem;
  }
}

.qa dl dt,
.qa dl dd {
  padding: 2.55rem 7.5rem 2.15rem 8rem;
  font-size: 1.8rem;
  line-height: calc(27 / 18);
  border-bottom: #454545 2px solid;
  font-weight: 500;
  position: relative;
}

@media screen and (max-width: 767px) {

  .qa dl dt,
  .qa dl dd {
    padding: .8rem 2rem .7rem 3.1rem;
    font-size: 1.4rem;
    line-height: calc(16 / 14);
    border-bottom: #454545 1px solid;
  }
}

.qa dl dt::before,
.qa dl dd::before {
  content: "Q：";
  display: inline-block;
  text-indent: -4.2rem;
}

@media screen and (max-width: 767px) {

  .qa dl dt::before,
  .qa dl dd::before {
    text-indent: -2.5rem;
  }
}

.qa dl dt {
  cursor: pointer;
}

.qa dl dt:hover {
  opacity: 0.5;
}

.qa dl dt::after {
  content: "＋";
  font-weight: 900;
  font-size: 2.2rem;
  position: absolute;
  right: 3.4rem;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .qa dl dt::after {
    right: 1rem;
    font-size: 1.4rem;
    top: 1.5rem;
  }
}

.qa dl dd {
  padding-bottom: 2.35rem;
  border: none;
  display: none;
  letter-spacing: .0175rem;
}

@media screen and (max-width: 767px) {
  .qa dl dd {
    padding-bottom: .7rem;
  }
}

.qa dl dd::before {
  content: "A：";
}

.qa dl.open dt::after {
  content: 'ー';
}

footer {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

@media screen and (max-width: 767px) {
  footer {
    padding: 5rem 0;
  }
}

footer .flex {
  align-items: flex-end;
  max-width: 96rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  footer .flex {
    flex-direction: column;
    align-items: center;
  }
}

footer figure {
  max-width: 38.1rem;
}

@media screen and (max-width: 767px) {
  footer figure {
    max-width: 18.8rem;
  }
}

footer p {
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  footer p {
    margin: .8rem 0 0;
    font-size: 1.2rem;
  }
}

